@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "index2";
}

<div>
    <h1>
        this is the new page
    </h1>
</div>
